.App {
  text-align: center;
}

.page-app-container {
  justify-content: center;
  display: flex;
}

.page-app {
  width: 70%;
  padding: 40px;
}

@media screen and (max-width: 680px) {
  .page-app {
    width: 100%;
    padding: 0;
  }
}